{{#link-to 'question' question.id class="pan"}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="q-tile-q">{{question.question}}</span>
      <span class="q-tile-ts">Asked</span>
      <br><span class="q-tile-a">-{{question.author}}</span>
      <span class="q-tile-ts">{{question.timestamp}}</span>
    </div>
  </div>
{{/link-to}}
