.q-tile-q {
  font-size: 18px;
  font-weight: bold;
}

.q-tile-ts {
  float: right;
}

.q-tile-a {
  margin-left: 10px;
}

#a-q {

}

#a-q-butt {
  float: right;
}

#a-q-save {
  float: right;
}

#a-q-head {
  /*float: left;*/
}

#a-q-form {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

#home-divide {
  /*margin-bottom: 20px;*/
}
