@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  background-color: #fffad6;
  font-family: 'Titillium Web', sans-serif;
}

.panel-heading {
  background-color: #ede29a !important;
}

.q-tile-q {
  font-size: 18px;
  font-weight: bold;
}

.q-tile-ts {
  float: right;
}

.q-tile-a {
  margin-left: 10px;
}

#a-q-butt {
  float: right;
  width: 100px;
  height: 48px;
  margin-top: 6px;
}

.a-q-save {
  float: right;
}

.a-q-form {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

#question-title {
  font-weight: bold;
}

#ans-q-butt {
  float: right;
  margin-top: 0px;
}

#ans-q-save {
  float: right;
}

.cancel-butt {
  float: right;
  margin-right: 5%;
}

.edit-butt {
  float: right;
}

.asked-by {
  padding-bottom: 0px;
}

textarea {
  min-height: 110px;
  max-width: 100%;
}
