<div class="a-q">
  {{ask-question saveQuestion="saveQuestion"}}
</div>

<h2 id="a-q-head">Q's</h2>

<div id="home-divide">
</div>
{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}
